body.dark-mode {
  .royal-navy-logo {
    outline: white solid 2px;
    outline-offset: 0px;
  }
  .product-bg-blur {
    display: block;
  }
  .benefit-icon,
  .product-number_wrap .h2 {
    color: white;
    filter: drop-shadow(0px 0px 18px rgba(81, 82, 218, 1));
  }
  .swiper-button {
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0.2);
  }
  .swiper-button:hover {
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0.8);
  }
  .anchor-nav-wrap .for-anchors {
    opacity: 0.4;
  }

  .btn:hover {
    background-color: var(--_colors---text--light-mode-primary-100);
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0.75);
  }
  .btn.link-xs:hover {
    background-color: transparent;
    text-shadow: 0px 0px 18px rgba(81, 82, 218, 0.75);
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0);
  }
  /*.nav-link_cont:has(.nav-link_trigger:hover) .nav-link_trigger, .nav-link_cont:has(.nav-link_target:hover) .nav-link_trigger {
    color: white;
  }*/
  .nav-link_cont:has(.nav-link_trigger:hover) .nav-link_trigger,
  .nav-link_cont:has(.nav-link_target:hover) .nav-link_trigger,
  .nav-link_cont:has(.nav-link_trigger:focus-visible) .nav-link_trigger,
  .nav-link_cont:has(.nav-link_target a:focus-visible) .nav-link_trigger {
    background-color: var(--_colors---background--additional-hover);
  }
  .nav-link_target a:focus-visible {
    background-color: var(--_colors---background--additional-hover);
    outline-offset: 0;
  }
  .nav-logo_link:hover {
    color: white;
  }
  .sort-link_item:has(.radio-tick:checked) {
    color: var(--_colors---background--lightning-blue);
  }
  .sort-link_item:hover .p-14 {
    text-shadow: 0px 0px 18px rgba(81, 82, 218, 0.75);
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0);
  }
  /*ul li::before{
    background-color: var(--_colors---brand-colors--soft-purple);
  }
    ol li::marker{
    color: var(--_colors---brand-colors--soft-purple);
  }*/
  .tl_line {
    background-color: var(--_colors---text--light-mode-primary-10);
  }
  .tl_circle {
    border-color: var(--_colors---text--light-mode-primary-10);
  }
  .tl_circle.active {
    border-color: var(--_colors---text--gray-50);
    background-color: var(--_colors---text--gray-50);
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0.75);
  }
  .tl_line-growth {
    background-color: var(--_colors---text--light-mode-secondary-80);
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0.75);
  }
  .item-card_bl .download-btn .u-icon {
    color: var(--_colors---brand-colors--soft-purple);
  }

  .item-card_bl:hover {
    [card-title] {
      color: var(--_colors---text--light-mode-primary-100);
      text-shadow: 0px 0px 20px rgba(81, 82, 218, 0.75);
    }
    [card-subtitle] {
      color: var(--_colors---text--light-mode-primary-100);
      text-shadow: 0px 0px 20px rgba(81, 82, 218, 0.75);
    }
    .download-btn .u-icon {
      color: var(--_colors---brand-colors--soft-purple);
    }
  }
  .btn.for-socials {
    background-color: #282644;
  }

  .item-card_bl.medium-for-logo {
    color: #fff;
  }
  .item-card_bl.medium-for-logo:hover {
    /*box-shadow: 0px 0px 12px 0px rgba(228, 233, 240, 0);*/
    background-color: var(--_colors---background--additional-hover);
  }
  .item-card_bl.medium-for-logo:focused {
    outline: var(--_colors---brand-colors--soft-purple) solid 3px;
    outline-offset: 0px;
    background-color: var(--_colors---background--additional-hover);
  }
  .item-card_bl.medium-for-logo:active {
    background-color: #37355e;
    /*      box-shadow: 0px 0px 12px 0px rgba(228, 233, 240, 0);*/
  }
  .team-quote_mark {
    color: var(--_colors---brand-colors--dark-purple);
    overflow: visible !important;
  }
  .team-quote_mark path {
    filter: drop-shadow(0 2px 8px rgb(81 82 218 / 100%));
  }
  /*  .nav-link_target{
    background-color: rgba(25, 24, 39, 0.4);
  }*/
  .nav-link_item:hover,
  .nav-link_item-single:hover {
    background-color: #30307c73;
  }
  .nav-link_target {
    box-shadow: 0 2px 20px rgb(62 55 141 / 25%);
  }
  .sort-link_target {
    background-color: rgba(24, 38, 39, 0.4);
  }
  .tabs-filters_line {
    background-color: var(--_colors---brand-colors--tech-purple);
  }
  .active-tab-line {
    border-radius: 100px;
    box-shadow: 0 0 23.962px 0 #5c85e6, 0 0 6.989px 0 #5c85e6,
      0 0 1.997px 0 #5c85e6, 0 0 0.998px 0 #5c85e6;
  }
  .item-card_bl.medium-for-logo:hover .logo-section-item{
    box-shadow: 0 0 23.962px 0 #5c85e6, 0 0 6.989px 0 #5c85e6,
      0 0 1.997px 0 #5c85e6, 0 0 0.998px 0 #5c85e6;
  }
}

.tl_circle.active {
  border: 3px solid var(--_colors---brand-colors--tech-purple);
}
.item-card_bl:hover {
  [card-title] {
    color: var(--_colors---brand-colors--tech-purple);
  }
  [card-subtitle] {
    color: var(--_colors---brand-colors--soft-purple);
  }
}
.item-card_bl.medium-for-logo:hover {
  background-color: var(--_colors---background--additional-hover);
  /*box-shadow: 0px 0px 12px 0px rgba(228, 233, 240, 1);
    color: ;*/
}
.item-card_bl.medium-for-logo:focused {
  outline: var(--_colors---brand-colors--soft-purple) solid 3px;
  outline-offset: 0px;
}
.item-card_bl.medium-for-logo:active {
  background-color: #fff;
  /*    box-shadow: 0px 0px 12px 0px rgba(228, 233, 240, 0);*/
  color: var(--_colors---text--light-mode-primary-100);
}
.subscribe-form_success-icon-wrap {
  box-shadow: 0px 0px 12px 0px rgba(228, 233, 240, 1);
}
[custom-hero-section],
.product-card_wrap.for-qlas {
  .btn:hover {
    background-color: var(--_colors---text--light-mode-primary-100);
    box-shadow: 0px 0px 18px 2px rgba(81, 82, 218, 0.75);
  }
}
.search-input_wrap:has(.search-input:hover) {
  border-bottom: 2px solid var(--_colors---brand-colors--tech-purple);
}
.search-input_wrap:has(.search-input:focus) {
  border-bottom: 2px solid var(--_colors---background--lightning-blue);
}
